@font-face {
	font-family: powerdark;
	src: url('powerdark.ttf');
}
body {
	font-size: 15px;
	font-family: sans-serif;
	height: 100vh;
	background-color: lightgray;
}
div.home{
  border: 10px solid black;
  padding: 40px;
  margin: 10px;
}
a:hover {
	color: red;
	text-decoration: none;
	font-weight: bold;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
h1 {
	font-family: powerdark;
	font-size: 40px;
	text-shadow: 3px 2px #cee1a5;
}
.error {
	color: red;
}
div.main1 {
	background-color: #c2d6d6;
	width: 350px;
	padding: 40px;
	border-radius: 40px;
	box-shadow: 0 3px 10px #a7ad9b;
}
div.main2 {
	background-color: #b8d1d9;
	width: 350px;
	padding: 40px;
	border-radius: 40px;
	box-shadow: 0 3px 10px #a7ad9b;
}
.centered {
	align-items: center;
	margin: 5px;
	padding: 0;
}
.button {
  display: block;
  width: 93%;
  border: none;
  background-color: #e0ebeb;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
	border-radius: 10px;
	transition-duration: 0.4s;
}
.button1 {
  background-color: #04AA6D;
  color: black;
}
.button1:hover {
	background-color: #6fbc58;
}
input {
    font-size: 14px;
}
input[type=number] {
	font-size: 14px;
	width: 21px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.right {
	text-align: right;
}

/* login sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}
#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
#todo{
	border: 5px solid black;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}
#inprogress{
	border: 5px solid black;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}
#done{
	border: 5px solid black;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}
#playlist{
	padding: 0px;
}
input.timer_input {
	width: 1.5em;
}
::placeholder {
	text-align: center;
}
#timer {
  display: none;
}

.grid-square {
	display: inline-block;
	background-color: #fff;
	border: solid 1px rgb(0,0,0,0.2);
	padding: 10px;
	margin: 12px;
}

.blue-background-class {
	background-color: #C8EBFB;
}

.board {
	padding-right: 0;
	margin-right: 15px;
}
