@font-face {
	font-family: powerdark;
	src: url('powerdark.ttf');
}
body {
	font-size: 15px;
	font-family: sans-serif;
	height: 100vh;
	background-color: lightgray;
}
div.home{
	width: 100%;
	display: inline-block;
  border: 10px solid #bbbbbb;
	border-radius: 10px;
  padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
  margin: 10px;
	background-color: #fff;
}
a:hover {
	color: red;
	text-decoration: none;
	font-weight: bold;
}
a:link {
	text-decoration: none;
	color: #bd6c4c;
}
a:visited {
	text-decoration: none;
	color: #bd6c4c;
}
a:active { text-decoration: none; }
h1 {
	font-family: powerdark;
	font-size: 40px;
	text-shadow: 3px 2px #cee1a5;
}
.error {
	color: red;
}
.centered {
	align-items: center;
	margin: 5px;
	padding: 0;
}
.button {
  display: block;
  width: 93%;
  border: none;
  background-color: #e0ebeb;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
	border-radius: 10px;
	transition-duration: 0.4s;
}
.button1 {
  background-color: #04AA6D;
  color: black;
}
.button1:hover {
	background-color: #6fbc58;
}
input {
    font-size: 14px;
}
input[type=number] {
	font-size: 14px;
	width: 21px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.right {
	text-align: right;
}

/* login sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
	border-radius: 0 30px 30px 0;
}
.sidenav #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#newtask{
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}
#newtask button{
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
#kanban {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.kanban {
	border: 5px solid black;
    background-color: #ffffff;
    margin-top: 10px;
		padding: 10px;
		border-radius: 5px;
}
#todo{
    width: 500px;
    background-color: #c1e2fb;
    margin: 3px;
		padding: 15px;
		border-radius: 5px;
}
#inprogress {
    width: 500px;
    background-color: #fbe4c1;
    margin: 3px;
		padding: 15px;
		border-radius: 5px;
}
#done {
    width: 500px;
    background-color: #a5e3a2;
    margin: 3px;
		padding: 15px;
		border-radius: 5px;
}

#playlist{
	padding: 0px;
}
::placeholder {
	text-align: center;
}
#timer {
  display: none;
}

.blue-background-class {
	background-color: #C8EBFB;
}

.board {
	padding-right: 0;
	margin-right: 15px;
	padding-top: 70px;
	padding-bottom: 170px;
	top: 100px;
}

.footer {
	position: fixed;
	z-index:99;
  left: 0;
  bottom: 0;
	height: 170px;
  width: 100%;
  background-color: #171717;
  text-align: center;
	border-top: solid #171717 6px;
	border-radius: 10px;
}

.header {
	position: fixed;
	z-index:99;
	width: 100%;
  top: 0;
	height: 70px;
	background-color: #252525;
	padding: 0 0 10px 0;
	border-bottom: solid #171717 6px;
	border-radius: 0 0 10px 10px;
	color: #ffffff;
}

.icon {
	height: 57px;
	width: 42px;
	opacity: 1;
}
.icon:hover {opacity: .5}

.divTitle {
	width: 100%;
	padding-bottom: 10px;
}
.divClose {
	opacity: .5;
	font-size: 30px;
	cursor: pointer;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 10px;
}
.divClose:hover {
	opacity: 1;
	color: red;
	background-color: #efefef;
}
.timer_title {
  margin-bottom: 10px;
}
#estimate {
  margin-top: 10px;
}
.timer_input {
	width: 32px;
  height: 30px;
  font-size: x-large;
}
.timer_text {
  font-size: x-large;
}
.timer_button {
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  background-color: #0d75ec;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 70px;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
}
.delete_img {
	width: 30px;
	height: 30px;
}
